%% Config file for init REHC application
[
 {rehc, 
       [
        %% Cluster config
	{cluster, [
		   %% servers are a list of host short names and IP 
		   %% addresses that REHC used to start slaves nodes
		   {servers, [{"remote_host","192.168.24.159"}]},

		   %% cookie for slaves nodes, it should be the same
		   %% that master node configured in vm.args
  		   {cookie, "rehc"},

		   %% name for the each slave node in the cluster
		   {slave, "rehc"}
		  ]},
	%% REHC internal config core	  
	{rehc_core, [
		     %% enabled mnesia if any application that you
		     %% monitoring use it, REHC could replicate the
		     %% records for use it locally.
		     {mnesia, disabled},

		     %% default location for your config files
		     {rehc_config_dir, "/root/rehc/etc/apps"},

		     %% max time to restart remote application
		     {max_time, 50000}
		    ]}
       ]
 }
].
